# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite
.env
.venv/
.env/
*.egg-info/

# Data / models
app/data/*.csv
app/data/*.parquet
app/data/*.sqlite
app/data/models/*.json
app/data/models/*.txt

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
